.completeOrder {
    margin-left:-25px;
    background-color: #f8f8f8;
}
.completeOrderDetails  {

    /* padding-bottom:calc(100% - 171px); */
}
.completeOrder__detail {
    display: flex;
    justify-content: space-between;
    padding: 2px 7px 2px 2px;
}
.completePayingMethod { 
    /* width: 100%; */
    text-align: center;
    padding: 5px 10px;
    background-color: lightgrey;
}