.completeOrder {
    margin-left:-25px;
    border-left: 1px solid #e4e2e2;
}
#completeOrder__title  {
    text-transform: uppercase;
    padding: 5px 0 0px 6px;
}
.completeOrder__detail {
    display: flex;
    justify-content: space-between;
    padding: 2px 7px;
}
.completePayingMethod { 
    text-align: center;
    padding: 5px 10px;
    background-color: lightgrey;
}