
.completedOrder{
    padding-top:5px;
    background-color: #fff;
    margin: 0 30px 10px 0;
    display: flex;
    justify-content:space-between;
    box-shadow: rgb(175 130 130 / 20%) 0px 10px 20px -6px;
}
.completedOrder__title {
    display: flex;
}
.completedOrder__title h4 {
    margin-right: 7px;
    color: rgb(56, 102, 223)
}
.completedOrder__content {
    display: flex;
}
.completedOrder__content__items {
    flex: 1;
}
.completedOrder__wrap {
    padding: 10px 0 0 10px;
    flex: 0.8
}
.completedOrder__payment {
    flex: 0.2;
    
}