
.orders {
    display: flex;
    padding: 120px 150px 0 150px;
    background-color: #fbfafa;
    min-height:80vh;
}

.orders__sidebar {
    flex: 0.2;
}
.orders__content {
    flex: 0.8;
}

.orders__content__title {
    padding-bottom: 20px;
} 
.orders__content__title h3 {
    margin-bottom: 5px;
}