
.orders {
    display: flex;
    padding: 120px 150px 0 150px;
    background-color: #fbfafa;
    min-height:80vh;
}

.orders__sidebar {
    flex: 0.2;
}
.orders__content {
    flex: 0.8;
}

.orders__content__title {
    padding-bottom: 20px;
} 
.orders__content__title h3 {
    margin-bottom: 5px;
}
@media only screen and (max-width:1300px) {
    .orders {

        padding: 120px 80px 0 80px !important;

    }
  }
  @media only screen and (max-width:1050px) {
    .orders {

        padding: 120px 30px 0 40px !important;

    }
  }
  @media only screen and (max-width:866px) {
    .orders {

        padding: 120px 10px 0 25px !important;

    }
  }
  @media only screen and (max-width:830px) {
    .orders{
        display: block !important;
        padding: 80px 10px 0 25px !important;

    }
    .orders__content {
        flex :1;
    }
  }
  @media only screen and (max-width:500px) {
    .orders {

        padding: 120px 10px 0 10px !important;

    }
   
  }