.profile {
    display: flex;
    padding: 120px 200px 0 150px;
    background-color: #fbfafa;
    min-height:80vh;
}
.profile__sideBar {
    flex:0.2;
}
.profile__content {
    flex:0.8;
}
@media only screen and (max-width:1300px) {
    .profile {

        padding: 120px 80px 0 80px !important;

    }
  }
  @media only screen and (max-width:1050px) {
    .profile {

        padding: 120px 30px 0 40px !important;

    }
  }
  @media only screen and (max-width:866px) {
    .profile {

        padding: 120px 10px 0 25px !important;

    }
  }
  @media only screen and (max-width:830px) {
    .profile{
        display: block !important;
        padding: 80px 10px 0 25px !important;

    }

    .profile__content {
        flex :1;
    }
  }
  @media only screen and (max-width:500px) {
    .profile {

        padding: 120px 10px 0 10px !important;

    }
   
  }